@using WebApplication1616.Models;
@{
    ViewData["Title"] = "GetDataonDDL";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h3>GetDataonDDL</h3>
@using (Html.BeginForm())
{
    if (ViewData["Val"] == null)
    {
        @Html.DropDownList("test", new SelectList(ViewBag.data, "CustomerID", "CustomerID"), "Please select", new { @id = "ddlFruits" })
        <input type="submit" value="submit" />
    }
    else
    {
        @Html.DropDownList("test", new SelectList(ViewBag.data, "CustomerID", "CustomerID"), "Please select", new { @id = "ddlFruits" })
        <input type="submit" value="submit" />
        <table class="table table-striped">
            <tr>
                <th>OrderiD</th>
                <th>CustomerID</th>
                <th>Emp ID</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>
                <th>ShipVia</th>
                <th>Freight</th>
                <th>ShipName</th>
                <th>ShipAddress</th>
                <th>ShipCity</th>
                <th>ShipRegion</th>
                <th>ShipPostalCode</th>
                <th>ShipCountry</th>
                <th>SNO</th>
            </tr>
            @foreach (var item in ViewData["Val"] as List<WebApplication1616.Models.OrdersModel>)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.CustomerID</td>
                    <td>@item.EmployeeID</td>
                    <td>@item.OrderDate</td>
                    <td>@item.RequiredDate</td>
                    <td>@item.ShippedDate</td>
                    <td>@item.ShipVia</td>
                    <td>@item.Freight</td>
                    <td>@item.ShipName</td>
                    <td>@item.ShipAddress</td>
                    <td>@item.ShipCity</td>
                    <td>@item.ShipRegion</td>
                    <td>@item.ShipPostalCode</td>
                    <td>@item.ShipCountry</td>
                    <td>@item.SNO</td>
                </tr>
            }
        </table>
    }
}



