@using WebApplication1616.Models;
@model OrdersModel
@{
    ViewData["Title"] = "GetDataByCusId";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>GetDataByCusId</h1>


@using (Html.BeginForm())
{
    if (ViewData["Val"] == null)
    {
        @Html.DropDownList("test", new SelectList(ViewBag.data, "CustomerID", "CustomerID"), "Please select", new { @id = "ddlFruits" })
        <input type="submit" value="submit" />
    }
    else
    {
        @Html.DropDownList("test", new SelectList(ViewBag.data, "CustomerID", "CustomerID"), "Please select", new { @id = "ddlFruits" })
        <input type="submit" value="submit" />
        <table class="table table-striped">
            <tr>
                <th>OrderiD</th>
                <th>CustomerID</th>
                <th>Emp ID</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>

 

            </tr>
            @foreach (var item in ViewData["Val"] as List<WebApplication1616.Models.OrdersModel>)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.CustomerID</td>
                    <td>@item.EmployeeID</td>
                    <td>@item.OrderDate</td>
                    <td>@item.RequiredDate</td>
                    <td>@item.ShippedDate</td>
                </tr>
            }
        </table>
    }
    }