@model IEnumerable<WebApplication1616.Models.STDMODEL>
@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_RoleBasedLayout.cshtml";
}

<h1>Display</h1>

<h1>DisplayData</h1>
<div class="container">
    Welcome To Display Data Page
</div>

<table class="table table-striped">
    <tr>
        <th>ROLLNO</th>
        <th>NAME</th>
        <th>EMAILID</th>
        <th>PASSWORD</th>
        <th>DOB</th>
        <th>GENDER</th>
        <th>MOBILE</th>
        <th>FEE</th>
        <th>ROLE</th>
        <th>BRANCH</th>
        <th>STATUS</th>
        <th>ACTION</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.rollno</td>
            <td>@item.name</td>
            <td>@item.Emailid</td>
            <td>@item.Password</td>
            <td>@item.DOB</td>
            <td>@item.GENDER</td>
            <td>@item.MOBILE</td>
            <td>@item.FEE</td>
            <td>@item.Role</td>
            <td>@item.BRANCH</td>
            <td>@item.Status</td>
           
            @if (this.User.IsInRole("Admin") || !this.User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Update","EDIT","STD", new {rollno = item.rollno},null) |
                    @Html.ActionLink("Delete","DELETEDATA","STD", new { rollno= item.rollno},  new { onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>
